.chat {
  display: flex;

  & > *:not(:last-child) {
    margin-right: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 8px;
    }

    &__item {
      color: #27251F;
    }
  }

  &__messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}